:root {
    /* Colors */
    --color-primary: #495675; /* Blue */
    --color-secondary: #FFCB3D; /* Yellow */
    --color-neutral: #FFFFFF; /* White */
    --color-toggle-inactive: #A9D6E5; /* Light Blue */
    --color-inactive: #F3F3F3; /* Gray */
  
    /* Typography (Montserrat) */
    --font-family-primary: 'Montserrat', sans-serif;
  
    /* Headings */
    --font-size-heading: 32px;
    --font-size-subheading: 24px;
    --font-weight-heading: 900;
  
    /* Section Titles and Labels */
    --font-size-section-title: 24px;
    --font-size-section-label: 16px;
    --font-size-section-label-small: 12px;
    --font-weight-section-label-bold: bold;
    --font-weight-section-label-semi-bold: 600;
  
    /* Temperature Values */
    --font-size-temperature-value-big: 64px;
    --font-size-temperature-indicator: 32px;
    --font-size-temperature-value-small: 16px;
  
    /* Room Labels */
    --font-size-room-label: 16px;
    --font-size-room-label-xsmall: 10px;
  
    /* Glassmorphism */
    --gradient-glass: linear-gradient(90deg, rgba(255, 255, 255, 0.04), rgba(110, 110, 110, 0.15));
    --glass-border-radius: 16px; /* Adjust as needed */
  
    /* Spacing */
    --spacing-xxs: 4px;
    --spacing-xs: 8px;
    --spacing-s: 12px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 48px;
    --spacing-xxxl: 64px;
    --spacing-xxxxl: 96px;

    /* boxshadow */
    --shadow-default: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  .header {
    display: flex;
    justify-content: space-between; /* Spreads items to edges */
    align-items: center; /* Aligns items vertically */
  }
  
  .homeScreen__title h1 {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-heading);
    color: var(--color-primary);
  }
  
  .weather {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--spacing-xxxl);
    height: var(--spacing-l);
    background: var(--color-neutral);
    border: 2px solid var(--color-border);
    box-shadow: var(--shadow-default);
    border-radius: 16px;
    padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) var(--spacing-s);
  }
  
  .weather__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-xxs);
  }
  
  .weather__temperature {
    font-family: var(--font-family-primary);
    font-size: 24px;
    font-weight: var(--font-weight-heading);
    color: var(--color-primary);
    line-height: normal;
  }
  
  .weather__icon {
    width: 32px;
    height: 32px;
  }
  