:root {
  /* Font Weights */
  --font-weight-title-black-900: 900;
  --font-weight-bold-700: 700;
  --font-weight-medium-500: 500;
  --font-weight-regular-400: 400;

  /* Typography */
  --font-family-primary: 'Montserrat', sans-serif;

  /* Spacing */
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-s: 12px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;
  --spacing-xxxl: 64px;
  --spacing-xxxxl: 96px;

  /* Colors */
  --color-primary: #495675;
  --color-secondary: #FFCB3D;
  --color-neutral: #FFFFFF;
  --color-glass-border: rgba(255, 255, 255, 0.55);
  --color-inactive: #BDBDBD;

  /* Glassmorphism */
  --glass-background: linear-gradient(90deg, rgba(255, 255, 255, 0.04), rgba(110, 110, 110, 0.15));
  --glass-border-radius: 16px;
  --glass-backdrop-blur: blur(17.5px);

    /* Shadows */
    --box-shadow-toggle: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    --shadow-default: 0px 4px 4px rgba(0, 0, 0, 0.15);

    --pillar-width: 40px;
    --pillar-max-height: 240px;

  h1{
    font-family: var(--font-family-primary);
    font-size: 32px;
    font-weight: var(--font-weight-title-black-900);
  }
  h2 {
    font-family: var(--font-family-primary);
    font-size: 24px;
  }
  h3 {
    font-family: var(--font-family-primary);
    font-size: 16px;
  }
  
}
  body {
    margin: 0;
    padding: 0;
    background: url('images/Background.png') no-repeat center center fixed;
    background-size: cover;
    overflow-y: scroll; /* That scroll effect */
  }

  
  .card{
    color: var(--glass-background);
    border-radius: var(--glass-border-radius);
    -webkit-backdrop-filter: var(--glass-backdrop-blur);
    backdrop-filter: var(--glass-backdrop-blur);
    margin: var(--spacing-s);
  }

  .header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: var(--spacing-s);
  }
  
  .header__title {
    color: var(--color-primary);
  }
  
  .header__weather {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--spacing-xxxl);
    height: var(--spacing-l);
    background: var(--color-neutral);
    border: 2px solid var(--color-border);
    box-shadow: var(--shadow-default);
    border-radius: 16px;
    padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) var(--spacing-s);
  }
  
  .header__weather-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-xxs);
  }
  
  .header__weather-temperature {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-subheading);
    font-weight: var(--font-weight-heading);
    color: var(--color-primary);
    line-height: normal;
  }
  
  .header__weather-icon {
    width: 32px;
    height: 32px;
  }

  .savings-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-m);
    border-radius: var(--border-radius-savings);
    border: var(--glass-border-radius);
    background: var(--gradient-glass);
    backdrop-filter: var(--blur-savings);
    text-align: center;
    border: 2px solid var(--color-border);
    box-shadow: var(--shadow-default);
    border-radius: 16px;
    backdrop-filter: blur(17.5px);
    
  }

  .savings-card__text {
    font-weight: var( --font-weight-bold-700);
    line-height: var(--line-height-savings);
    color: var(--color-primary);
    margin: 0;
    padding-right: var(--spacing-xxs);
  }

  .savings-card__amount {
    font-weight: var( --font-weight-bold-700);
    color: var(--color-secondary);
    padding-right: var(--spacing-xxs);
    margin: 0; 
    
  }
  
/* Toggle Button */

/* Container til toggle */
.toggle-card,
.toggle-card-edit {
  display: inline-block;
  position: relative;
  width: 108px;
  height: 36px;
}

/* Skjuler standard checkbox */
#toggle-card__checkbox,
#toggle-card-edit__checkbox {
  display: none;
}

/* Label, som slider cirklen */
.toggle-card__label,
.toggle-card-edit__label {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffff; /* Inaktiv baggrund */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

/* Cirklen inde i slideren */
.toggle-card__circle,
.toggle-card-edit__circle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 32px;
  height: 32px;
  background: #495675;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ikonet i cirklen */
.toggle-card__icon,
.toggle-card-edit__icon {
  width: 68%;
  height: auto;
  margin-right: 2px;
}

.toggle-card__icon--inactive,
.toggle-card-edit__icon--inactive {
  position: relative;
  width: 26px;
  height: 26px;
  margin: 5%;
}

.toggle-card-icon--right,
.toggle-card-edit-icon--right {
  right: -25%;
}

/* Flytter cirklen, når den er aktiv */
#toggle-card__checkbox:checked + .toggle-card__label .toggle-card__circle {
  transform: translateX(71px);
  background-color: #FFCB3D;
}

#toggle-card-edit__checkbox:checked + .toggle-card-edit__label .toggle-card-edit__circle {
  transform: translateX(71px);
  background-color: #FFCB3D;
}

/* Ændrer ikonet baseret på tilstand */
#toggle-card__checkbox:checked + .toggle-card__label .toggle-card__circle .toggle-card__icon {
  content: url("images/icon__out-active.svg");
}

#toggle-card-edit__checkbox:checked + .toggle-card-edit__label .toggle-card-edit__circle .toggle-card-edit__icon {
  content: url("images/icon__edited-active.svg");
}

/* Energy Sources Card */
.energy-sources-card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

/* Title */
.energy-sources-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-s);
  padding: var(--spacing-xs) var(--spacing-s);
  font-weight: var(--font-weight-title-black-900);
  color: var(--color-primary);
  text-align: center;
}

.energy-sources-card__image{
  height: 48px;
  width: auto;
}
/* Icons + Text Section */
.energy-sources-card__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xxl);
}

/* Each Icon + Text Wrapper */
.energy-sources__left, .energy-sources__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xs);
  text-align: center;
  color: var(--color-primary);
}

/* Circle Wrapper */
.energy-sources-card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px; 
  border-radius: 50%;
  background-color: var(--c);
  box-shadow: var(--shadow-default);
  transition: transform 0.3s, background-color 0.3s, border-color 0.3s;
  cursor: pointer;
}

/* Active State */
.energy-sources-card__icon--active {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}
.energy-sources-card__icon--inactive {
  background-color: var(--color-inactive);
  
}

/* Icons Inside Circles */
.energy-sources__icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.energy-sources__icon--active{
  color: var(--color-secondary);
}

/* Individual Icon + Text */

/* Separator Line */
.energy-sources-card__separator{
  width: 90%;
  height: 2px;
  background-color: var(--color-primary);
}

/* "Dagens Data" Section */
.energy-sources-card__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xxs);
  align-self: stretch;
}

/* Subtitle */
.energy-sources-card__subtitle{
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular-400);
  color: var(--color-primary);
  text-align: center;
}

/* Data (Brugt + Sparet) */
.energy-sources__data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: var(--spacing-m);
}

.energy-sources__data-item {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold-700);
  color: var(--color-primary);
  text-align: center;
}

.dropdown__button {
  background-color: transparent;
  padding: 20px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: -webkit-fill-available;
  border-radius: 4px;

}
/* Icon for dropdown (arrow down) */
  .dropdown-button__icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: solid #495675;
    border-width: 2px 2px 0 0;
    transform: rotate(135deg); /* Initial position (arrow down) */
    transition: transform 0.3s ease;
  }

/* Dropdown Menu */
.dropdown__content {
  position: absolute;
  top: 100%;
  background-color: #ffff;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.dropdown__content.active {
  opacity: 1;
  visibility: visible;
  position: relative; /* Change to relative when active */
}

/* Chart Wrapper */
.chart__wrapper {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

/* Chart Sections */
.chart__section {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.chart__section--active {
  display: block;
  opacity: 1;
}

/* Chart Container */
.chart__container {
  display: flex;
  align-items: flex-end;
  gap: var(--spacing-s);
  width: 100%;
}

/* Chart Indicators */
.chart__indicators {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-weight: var(--font-weight-bold-700);
  color: var(--color-primary);
  gap: 32px;
}

/* Chart Bars */
.chart__bars {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 12px;
  flex-grow: 1;
  height: 240px;
}

.chart__bar {
  width: 24px;
  height: var(--bar-height);
  background: linear-gradient(180deg, var(--color-secondary) 0%, var(--color-neutral) 100%);
  border-radius: 20px;
  border: 1px solid var(--color-neutral);
  transition: height 0.3s ease;
}

/* Chart Labels */
.chart__labels {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-weight: var(--font-weight-bold-700);
  margin-top: 8px;
}

/* Chart Navigation */
.chart__nav-buttons {
  margin-bottom: 20px;
}

.chart__nav-button {
  background-color: transparent;
  color: #C7DCF0;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.chart__nav-button--active {
  color: #FFCB3D;
}

/* themometer */

.temperature-card__value{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  position: relative; 
}
.temperature-card__title{
  color: var(--color-primary);
  display: flex;
  justify-content: center;
}
.temperature-card{
  padding-top: var(--spacing-m);
}

#card__temperatur-slider {
  width: 200px;
  height: 200px;
  }

.card__temperatur-inside {
  font-size: 2rem;
  font-weight: bold;
  color: #201c29;
  z-index: 3; 
}


/* change fonttype for temperatur in thermometer */
.rs-tooltip.edit,.rs-tooltip .rs-input {
  font-size: 64px; 
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-title-black-900); 
  color: var(--color-primary);
  padding-left: var(--spacing-s);
  border: none;
}
.rs-tooltip.edit::after,.rs-tooltip .rs-input::after {
  content: "°";
  font-weight: var(--font-weight-title-black-900);
  font-size: 32px;
  position: relative;
  bottom: var(--spacing-l);
  }

/* removes borderbox around temperatur in thermometer */
#card__temperatur-slider:hover .rs-tooltip, .rs-tooltip:focus, .rs-tooltip-text:focus {
  transform: scale(1.1);
  transition: .1s;
  border: none;
}


/* change color on dragable point in thermometer */
#card__temperatur-slider .rs-handle {
  background-color:white;
  filter: drop-shadow(3px -1px 2px rgba(0, 0, 0, 0.27));
}

/* change color on active slider */
.rs-range-color {
  background-color:  #FFCB3D !important;
  border: none !important;
} 

/* change color on background color on slider */
.rs-path-color {
  background-color: #495675 !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset ;
}

/* removes border om thermometer */
.rs-border{
  border: none !important;
}

.rooms-card__room {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: var(--spacing-xs) var(--spacing-xs);
  align-self: stretch; 
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
}
.rooms-card {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  gap: var(--spacing-m); 
  padding: var(--spacing-m);
}

/* Left Section: Icon + Name */
.rooms-card__name-details {
  display: flex;
  align-items: center; 
  gap: var(--spacing-xs); 
}

/* Right Section: Temperature + Icons */
.room-item__temperature-details {
  display: flex;
  align-items: center; 
  gap: var(--spacing-xs); 
}

.rooms-card__name{
  color: var(--color-primary);
  font-weight: var(--font-weight-title-black-900);
}

.room-item__name {
  color: var(--color-primary);
  margin: 0;
  font-weight: var(--font-weight-title-black-900);
}

.rooms-card__temperature {
  color: var(--color-primary);
  margin: 0;
  font-weight: var(--font-weight-title-black-900);
}

.rooms-card-arrow__icon {
  font-size: 18px;
  color: var(--color-primary);
}
.rooms__addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-s); 
  height: 40px;
  padding: var(--spacing-s) var(--spacing-xl);
  border-radius: 100px;
  background: var(--color-primary); 
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25); 
  color: var(--color-neutral); 
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-weight: var(--font-weight-title-black-900);
  line-height: normal;
  border: none; 

}


/* Icon inside the button */
.Rooms__addButtonIcon {
  height: 16px;
}

/* Text inside the button */
.rooms__addButton-text {
  font-size: 16px; 
  font-weight: var(--font-weight-title-black-900); 
}

.energy-chart-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-m);
  gap: var(--spacing-s);
}

.energy-chart-card__title {
  font-family: var(--font-family-primary);
  font-size: 24px;
  font-weight: var(--font-weight-bold-700);
  color: var(--color-primary);
  text-align: center;
  margin-bottom: var(--spacing-s);
}

/* Container for Indicators and Bars */
.energy-chart-card__container {
  display: flex;
  align-items: flex-end; 
  gap: var(--spacing-s); 
  width: 100%; 
}

/* Left Indicators */
.energy-chart-card__indicators {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Evenly distribute indicators */
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-weight: var(--font-weight-bold-700);
  color: var(--color-primary);
  gap: var(--spacing-xl);
}

/* Pillar Bars */
.energy-chart-card__bars {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: var(--spacing-s);
  flex-grow: 1; 
  height: 240px; 
}

.energy-chart-card__bar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 24px;
  height: var(--bar-height);
  background: linear-gradient(180deg, var(--color-secondary) 0%, var(--color-neutral) 100%);
  border-radius: 20px;
  border: 1px solid var(--color-neutral);
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  transition: height 0.3s ease;
}

/* Bottom Labels */
.energy-chart-card__labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--spacing-xl);
  gap: var(--spacing-xxs);
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-weight: var(--font-weight-bold-700);
  color: var(--color-secondary);
  margin-top: var(--spacing-xs);
}

.energy-chart__labels span {
  text-align: center;
  width: 32px;
}
/* Bottom Menu */
.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  padding: var(--spacing-s);
  height: 60px;
  z-index: 10;
}

/* Menu Item */
.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

/* Menu Item Active State */
.menu-item.active {
  transform: translateY(-5px) scale(2);
  border: 2px solid var(--color-primary);
  border-radius: 50%; 
}

.menu-item.active .menu-icon {
  filter: drop-shadow(0px 0px 8px var(--color-neutral));
}

/* Menu Icon */
.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-m);
  background-color: var(--color-primary);
  box-shadow: var(--menu-shadow);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 10;
  height: var(--menu-height);
  
}

.menu-item {
  flex: 1;
  text-align: center;
  cursor: pointer;
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

.menu-item.sc-current {
  transform: translateY(-20px) scale(1.7);
  z-index: 3;
  border: #495675;
}
.menu-item.sc-current::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px; /* Adjust size for the glow */
  height: 35px; /* Adjust size for the glow */
  border-radius: 100%;
  border-color: var(--color-primary);
  z-index: -1; /* Places it behind the menu item */
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5); /* Smooth glow effect */
}

.menu-item.sc-current::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px; /* Adjust size for the border */
  height: 50px; /* Adjust size for the border */
  border: 10px solid var(--color-primary); /* Primary color border */
  border-radius: 50%;
  z-index: -2; /* Places it behind the menu item */
}

.menu-icon {
  width: 50px;
  height: 50px;
}
.menu-icon-small{
  width: 75px;
  height: auto;
}
.menu-indicator {
  position: absolute;
  bottom: calc(var(--menu-height) / 2 - var(--indicator-size) / 2);
  width: var(--indicator-size);
  height: var(--indicator-size);
  background-color: #495675;
  border-radius: 50%;
  box-shadow: var(--menu-shadow);
  z-index: 2;
  transition: left 0.3s ease;
}


.content {
  padding-bottom:150px;
}